do_token           = "<replace-with-correct-values>"
cloudflare_email   = "<replace-with-correct-values>"
cloudflare_api_key = "<replace-with-correct-values>"
cloudflare_zone_id = "<replace-with-correct-values>"
github_token       = "<replace-with-correct-values>"
